@font-face {
  font-family: "Montserrat";
  src: url(../assest/font/Montserrat/static/Montserrat-Regular.ttf);
}

@font-face {
  font-family: "Roboto_Slab";
  src: url(../assest/font/Roboto_Slab/static/RobotoSlab-Regular.ttf);
}

@font-face {
  font-family: "Roboto_SlabS";
  src: url(../assest/font/Roboto_Slab/static/RobotoSlab-Bold.ttf);
}

body {
  font-size: 18px;
  /* color: white; */
}

.section1,
.service,
.portfolio,
.about,
.contactwall,
.teamwall {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}
.bg-dark1{
  --bs-bg-opacity:1;
  background-color: #212529;
}
.bg-dark1{
  --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
    transition: 0.8s;
}
.section1 {
  background-image: url(https://startbootstrap.github.io/startbootstrap-agency/assets/img/header-bg.jpg);
}

.service {
  background-image: url(../assest/images/5227785-technology-hd-wallpaper-and-background.png);
}

.portfolio {
  background-image: url(../assest/images/windows-10-dark-blue-5k-8k-3840x2160-733.jpg);
}

.about {
  background-image: url(../assest/images/210888\ \(1\).jpg);
}

.contactwall {
  background-image: url(../assest/images/asus-rog-ambient-lighting-red-lighting-dark-background-3840x2160-2711.jpg);
  }

.teamwall {
  background-image: url(../assest/images/2003974.jpg);
  }

.nav-link:hover,
.nav-link.active {
  color: #ffc506 !important;
}

.Welcome {
  font-family: "Roboto_Slab";
}

.Nice {
  font-family: "Roboto_SlabS";
  font-size: 70PX;
  font-weight: bold;

}

.btn-yellow {
  font-size: 20px;
  font-weight: bold;
}

.trans {
  background-color: transparent;
}

.icon1 {
  font-size: 70px;
  padding: 20px;
  border-radius: 50%;
  background-color: rgb(255, 205, 3);
}

.services {
  margin-top: 80px;
}

.icon2 {
  font-size: 70px;
  padding: 20px;
  border-radius: 50%;
  background-color: rgb(255, 205, 3);

}

.icon3 {
  font-size: 80px;
  padding: 50px;
  border-radius: 50%;
  background-color: rgb(255, 205, 3);
  width: 165px;
  height: 165px;
}

.font1 {
  font-family: "Roboto_Slab";
  color: grey;
}

.image {
  display: flex;

}

.imageover {
  position: relative;
  width: 100%;
}

.overlay {
  position: absolute;
  top: 23px;
  bottom: 0;
  left: 0;
  right: 0;
  height: 93%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #ffee06;
}

.imageover:hover .overlay {
  opacity: 0.8;
}

.text {
  color: white;
  font-size: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.image2 {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  outline: 8px solid rgb(235, 230, 230);
  position: relative;
  margin: auto;
  display: block;
}

.imageLine {
  position: relative;
}

.imageLine:after {
  content: '';
  display: block;
  width: 2px;
  height: 88px;
  background-color: #eee;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 202px;
  margin: auto;
}

.text3 {
  width: 68%;
  margin-bottom: 120px;
}

.favicon1 {
  border-radius: 50%;
  background-color: black;
  width: 42px;
  height: 42px;
}

.roundimg {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  background-color: #ffc506;
  border: 9px solid #eee;
}

.roundtext {
  width: 43%;
}

.microsoft {
  width: 170px;
  height: 150px;
}

.facebook {
  width: 140px;
  height: 150px;
}

.contact {
  background-image: url(../assest/images/map-image\ \(1\).png);
  height: 690px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #212529;
}

@media (min-width: 992px) {
  .form {
    width: 50%;
    height: 100px;
  }

  .form input {
    width: 100%;
    padding: 25px;
  }
}